
html,body {
    margin:0;
    padding:0;
    font-family:arial;
    background:#fff;
}
div,section,header {
    box-sizing: border-box;
}

header {
    height:55px;
    width:100%;
    position: relative;
    background:#009688;
    padding:0 40px;
}

.main {
    position: relative;
    padding:20px 40px;
}
.site-title {
    color:#fff;
    font-size:2em;
    line-height: 55px;
}
.title {
    font-size:1.5em;
}
.content {
    font-size:1.2em;
}
.content ul {
    list-style-type: none;
}
.content li {
    padding:5px 0;
    color:#444;
}
.icapture {
    position: relative;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icapture .crop-node {
    /*blank bg image for IE*/
    background-image: url('data:image/gif;base64,R0lGODlhMgAyAIAAAAAAAP///yH5BAEHAAEALAAAAAAyADIAAAIzjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKicFADs=');
    border: 2px dotted #1194ff;
    position: absolute;
    z-index: 8;
    left:0;
    top: 0;
    cursor: move;
}
.icapture .archor{
    width: 10px;
    height:10px;
    background:#1194ff;
    position: absolute;
    z-index: 10;
}
.icapture .archor-lt    {   cursor: nw-resize; left:-4px; top: -4px;}
.icapture .archor-t     {   cursor: n-resize; top: -4px; }
.icapture .archor-rt    {   cursor: ne-resize; right: -4px; top: -4px;}
.icapture .archor-r     {   cursor: e-resize; right: -4px;}
.icapture .archor-rb    {   cursor: se-resize; right: -4px; bottom: -4px;}
.icapture .archor-b     {   cursor: s-resize; bottom: -4px;}
.icapture .archor-lb    {   cursor: sw-resize; left: -4px; bottom: -4px;}
.icapture .archor-l     {   cursor: w-resize; left: -4px;}

.icapture .block    {    
    position: absolute; 
    opacity:0.5;
    z-index: 5;
    background-color: #000;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
}
.icapture .block-l  {    left: 0; }
.icapture .block-t  {    top: 0; width: 100%; }
.icapture .block-r  {    right: 0; }
.icapture .block-b  {    bottom: 0; width: 100%; }

.icapture img {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
